body {
  background-color: #26283f;
  overflow: hidden;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #d6d6d6;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body.on h1, body.on h2, body.on h3, body.on h4, body.on h5, body.on h6 {
  color: #383838;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body.on .overlay {
  width: 400vw;
  height: 400vh;
  background-color: #e2e6dd;
}

body.on .navbar .right .btn-lamp:hover {
  -webkit-animation: none;
          animation: none;
}

body.on .navbar .right .btn-lamp i.ri-sun-fill {
  color: #e4c800;
  display: none;
}

body.on .navbar .right .btn-lamp i.ri-moon-fill {
  color: #767ee0;
  display: block;
}

body .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .navbar {
  background-color: transparent !important;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 35px;
}

body .navbar .left,
body .navbar .center,
body .navbar .right {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .navbar .left h1 {
  font-size: 18px;
}

body .navbar .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .navbar .center button {
  padding: .25rem 1.5rem;
  margin: 0 5px;
}

body .navbar .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .navbar .right .btn-lamp {
  background-color: transparent;
  border: none;
  font-size: 28px;
  outline: none;
}

body .navbar .right .btn-lamp:hover {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

body .navbar .right .btn-lamp i.ri-sun-fill {
  color: #e4c800;
}

body .navbar .right .btn-lamp i.ri-moon-fill {
  color: #767ee0;
  display: none;
}

body footer {
  background-color: #383759 !important;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 35px;
}

body footer p {
  margin-bottom: 0px;
}

body .grid {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding: 50px 200px;
}

body .grid .box {
  width: 22%;
  height: 29%;
  margin: 0% 1%;
  background-color: #5e5d7d;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .grid .box.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  opacity: 1;
}

body .grid .box.flipper.active {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body .grid .box.flipper .front, body .grid .box.flipper .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .grid .box.flipper .front {
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #6d695c;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
}

body .grid .box.flipper .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #ffea52;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

body .grid .box.disable {
  border: 2px solid #4cd87f;
  pointer-events: none;
  cursor: not-allowed;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */